*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'DentonTestThin100';
    src: url('./fonts/DentonTest-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'DentonCond';
    src: url('./fonts/DentonCondensedTest-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'PPNeueMontreal';
    src: url('./fonts/PPNeueMontreal-Book.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'PPNeueMontreal500';
    src: url('./fonts/PPNeueMontreal-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  .denton{
    font-family: DentonTestThin100;
  }
  .dentonCond{
    font-family: DentonCond;
  }
  .PPNeue{
    font-family: PPNeueMontreal;
  }
  .PPNeue500{
    font-family: PPNeueMontreal500;
  }
  .clamp{
    padding-top:clamp( 100px ,3.6vw , 46px) ;
  }